extends ../layout

block content
	.container
		form.row(method="post", action="/admin/book/new")
			input(type="hidden",name="book[_id]",value="#{book._id}")
			.col-sm-12.col-ma-15
				label.col-sm-2.control-label(for="inputTitle") 书籍名称
				.col-sm-10
					input#inputTitle.form-control(type="text", name="book[title]", value="#{book.title}")
			.col-sm-12.col-ma-15
				label.col-sm-2.control-label(for="inputAuthor") 书籍作者
				.col-sm-10
					input#inputAuthor.form-control(type="text", name="book[author]", value="#{book.author}")

			.col-sm-12.col-ma-15
				label.col-sm-2.control-label(for="inputCountry") 国家
				.col-sm-10
					input#inputCountry.form-control(type="text", name="book[country]", value="#{book.country}")
			.col-sm-12.col-ma-15
				label.col-sm-2.control-label(for="inputLanguage") 语言
				.col-sm-10
					input#inputLanguage.form-control(type="text", name="book[language]", value="#{book.language}")
			.col-sm-12.col-ma-15
				label.col-sm-2.control-label(for="inputYear") 发布时间
				.col-sm-10
					input#inputYear.form-control(type="text", name="book[year]", value="#{book.year}")
			.col-sm-12.col-ma-15
				label.col-sm-2.control-label(for="inputSummary") 简介
				.col-sm-10
					input#inputSummary.form-control(type="text", name="book[summary]", value="#{book.summary}")
			.col-sm-12.col-ma-15
				.col-sm-offset-2.col-sm-10
					button.btn.btn-default(type="submit") 录入